---
interface Props {
  content: string;
  position?: 'top' | 'bottom' | 'left' | 'right';
  className?: string;
}

const { 
  content,
  position = 'top',
  className = ""
} = Astro.props;

const positionClasses = {
  top: 'bottom-full left-1/2 -translate-x-1/2 mb-2',
  bottom: 'top-full left-1/2 -translate-x-1/2 mt-2',
  left: 'right-full top-1/2 -translate-y-1/2 mr-3',
  right: 'left-full top-1/2 -translate-y-1/2 ml-3'
};

const arrowClasses = {
  top: 'top-full left-1/2 -translate-x-1/2 border-l-4 border-r-4 border-t-4 border-transparent border-t-dark dark:border-t-light',
  bottom: 'bottom-full left-1/2 -translate-x-1/2 border-l-4 border-r-4 border-b-4 border-transparent border-b-dark dark:border-b-light',
  left: 'left-full top-1/2 -translate-y-1/2 border-t-4 border-b-4 border-l-4 border-transparent border-l-dark dark:border-l-light',
  right: 'right-full top-1/2 -translate-y-1/2 border-t-4 border-b-4 border-r-4 border-transparent border-r-dark dark:border-r-light'
};
---

<div class={`relative group ${className}`}>
  <slot />
  
  <!-- Tooltip -->
  <div class={`absolute ${positionClasses[position]} bg-dark dark:bg-light text-on-dark dark:text-on-light px-3 py-2 rounded border-2 border-dark dark:border-light text-sm font-bold whitespace-nowrap opacity-0 group-hover:opacity-100 transition-opacity duration-200 pointer-events-none z-[60]`}>
    {content}
    <div class={`absolute w-0 h-0 ${arrowClasses[position]}`}></div>
  </div>
</div>
